/* About Section */
.About-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: #f9f9f9; */
  /* padding: 4rem 2rem; */
  padding-bottom: 50px;
  box-sizing: border-box;
}

.about-section {
  text-align: center;
  max-width: 2500px;
  background: white;
  padding: 3rem 2rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.387);
  border-radius: 12px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease forwards;
}

.about-section:hover{
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.822);
  cursor: pointer;
  transform-style: preserve-3d;
  background-color: #3baa6c;
}

.about-section:hover p {
  color: #fff; 
}